{% load humanize %}

<div class="collapse mt-4" id="collapseCollectionsList">
    <div class="card-header">
        <div class="input-group input-group-sm" style="width:15rem">
            <span class="input-group-text">Filter</span>
            <input class="form-control" type="month" name="" id="filterCollections">
        </div>
        
    </div>
    <div class="card card-body">
        <table class="table table-hover text-start">
            <thead>
                <tr>
                    <th scope="col">Invoice #</th>
                    <th scope="col">Invoice Date</th>
                    <th scope="col">Advertiser</th>
                    <th scope="col">Airing Duration</th>
                    <th scope="col">Received</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="collectionList">
            

            </tbody>
        </table>
    </div>
  </div>