<div id="clockInCloak">
    <div class="clock-in-btn top-50 start-50 translate-middle">


        <div class="card text-center border-success mb-3" style="max-width: 18rem;">
            <div class="card-header text-success"><h4>CLOCK IN?</h4></div>
            <div class="card-body ">
              <button id="clockInButton" type="button" class="btn clock-in-btn-style rounded-pill align-top">{% include 'mainapp/svg/clock-fill.svg' %}</button>
            </div>
          </div>

        
    </div>
</div>
