<!-- Modal -->
<div class="modal fade" id="addPeople-{{department}}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPeople-{{department}}Label">Add People to {{department.title.title}} Team</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input class="form-control" list="{{department}}ProspectsOption" id="departmentDataList-{{department}}" placeholder="Choose...">
            <datalist id="{{department}}ProspectsOption">
              {% for person in prospects %}
                {% if person not in department.users.all %}
                <option value={{person}}>
                {% endif %}
              {% endfor %}
            </datalist> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick=addPeopleToDept('{{department}}')>Add</button>
        </div>
      </div>
    </div>
  </div>